.select-container {
    width: 100%;
    &__content {
        width: 100%;
    }
}
.content{
    &__select {
       width: 100%;
       height: 2.5rem;
       margin-top: var(--margin-label-input);
       border: 1px solid #D1D1D1;
       font-family: var(--font-family-select);
       font-size: var(--font-size-btn-select);
       font-weight: var(--font-weight-select);
       color: var(--font-color-select);
       text-indent: 0.25rem;
    }
    &__option {
        width: 100%;
        font-family: var(--font-family-select);
        font-size: var(--font-size-btn-select);
        font-weight: var(--font-weight-select);
        color: var(--font-color-select);
    }
    &__label{
        font-family: var(--font-family-label);
        font-size: var(--font-size-btn-label);
        font-weight: var(--font-weight-label);
        color: var(--font-color-label);
    }
}
